body {
  font-size: .875rem;
      margin: 0; /* Elimina márgenes predeterminados */
      height: 100vh; /* Hace que el body ocupe el 100% de la altura de la ventana */
      width: 100%; 
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}
.row{
  width: 100%; /* Ocupa todo el ancho */
  height: 100vh;
  margin-left: 0;
}
.title2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-style: italic;
}

main {
  background-color: #b5c0d0;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  background-color: #cbc4c4;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 65px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}



@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
  header {
    padding-bottom: 8px;
  }
}
@media (max-width: 767.98px) {
  .toggle-btn {
    position: absolute;
    right: 0; /* Mueve el botón al extremo derecho */
    bottom: 10px; /* Ajusta su posición vertical */
    width: 40px; /* Reduce el ancho del botón */
    height: 40px; /* Reduce la altura del botón */
    padding: 5px; /* Reduce el relleno */
  }

  .toggle-btn .navbar-toggler-icon {
    width: 20px; /* Reduce el tamaño del icono */
    height: 20px;
  }
  .signout-btn {
    position: absolute;
    top: calc(100% + 10px); /* Justo debajo del campo de búsqueda, con un margen */
    left: 50%; /* Centrado horizontalmente */
    transform: translateX(-50%); /* Asegura un centrado perfecto */
    z-index: 1; /* Garantiza visibilidad */
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}
.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}
.container-fluid{
  padding: 0;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
  margin: 6px;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(237, 225, 225, 0.5);
  border-color: rgba(234, 225, 225, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
#trafficDataTable tbody tr.high-emissions,
#trafficDataTable tbody tr.high-emissions td {
  background-color: yellow !important; /* Force the background color */
  font-weight: bold;
  color: #000000;
}


